/.lgd-nfy0
/LED.py
/__pycache__
/test_btn.py
.venv
app/__pycache__/__init__.cpython-313.pyc
app/__pycache__/__init__.cpython-314.pyc

# Local Dev
app/__pycache__/config.cpython-314.pyc
app/__pycache__/gpio_logic.cpython-314.pyc
app/routes/__pycache__/__init__.cpython-314.pyc
app/routes/__pycache__/main.cpython-314.pyc
app/routes/__pycache__/remote.cpython-314.pyc
app/simon.db
app/__pycache__/models.cpython-314.pyc
/app/db.py
venv/