version: '3.8'

services:
  simon-says:
    build: .
    container_name: simon_game_web
    privileged: true
    ports:
      - "5000:5000"
    environment:
      - PYTHONUNBUFFERED=1
      - GPIOZERO_PIN_FACTORY=lgpio
    devices:
      - /dev/gpiomem:/dev/gpiomem
    restart: unless-stopped